.footer {
  background-color: var(--clr-cream);
  padding-top: 360px;
  padding-bottom: 72px;
}

.footer__container {
  width: min(95%, 1110px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}

.footer__logo {
  width: 81px;
}

.footer__copyright {
  font-size: var(--fs-small);
  color: var(--clr-gray);
  line-height: 2;
  letter-spacing: 0.08px;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  gap: 28px;
}

.social-icon__button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--clr-dark-blue);
}
.social-icon__button:hover {
  transition: 0.2s ease;
  opacity: 0.5;
}

.social-icon {
  fill: currentColor;
}

@media screen and (max-width: 960px) {
  .footer {
    padding-top: 550px;
  }
}

@media screen and (max-width: 570px) {
  .footer__container {
    margin: 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .footer__container {
    flex-direction: column;
    gap: 33px;
  }
}
